/* TSOS.css */

body {
  background: #d5e6ff url(distrib/images/chaos.png) repeat;
  font-family: monospace;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  color: white;
  zoom: 80%;
}

.label {
  font-size: 30px;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#divConsole {
  margin-top: 10px;
}

#display {
  background-color:#702662;
  border: 2px solid #1e7199;
  cursor: default;
  overflow: hidden;
}

#display:focus {
  outline: 0;
}

.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divTaskBar {
  background-color: inherit;
  border: 1px solid #1e7199;
  color: white;
  width: 50%;
  margin: 0 auto;
  padding: 10px 10px;
}

#divButtonBar {
  margin: 0 auto;
  width: 40%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal_button {
  border-color: black;
  height: 50px;
  width: 100px;
  font-size: medium;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 10px;
  font-weight: bold; 
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}

.normal_button:focus {
  outline: 0;
}

#btnToggleSingleStep {
  margin-left: 20px;
  width: 160px;
}

#col-1 {
  flex-direction: row;
  margin-right: 10px;
  padding: 10px 10px;
}

#col-2 {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px;
}

#col-3 {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.section {
  margin-bottom: 40px;
}

.ta {
  resize: none;
  font-family: inherit;
}

#header {
  font-size: 75px;
  text-align: center;
  color: white;
}

.material-icons {
  margin-right: 5px;
  color: white;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
}

.table {
  width: 650px;
  text-align: center;
  font-size: x-large;
  padding: 10px;
  border: 2px solid white;
}

#pcb-div, #readyQ-div {
  height: 250px;
  overflow-y: scroll;
}

#cpu-div {
  height: 100px;
}

