/* TSOS.css */

body {
  background: #d5e6ff url(distrib/images/chaos.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  color: white
}

#content-body {
  width: 75%;
  margin: 0 auto;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#dca9d3;
  border: 2px solid #622569;
  cursor: default;
  overflow: hidden;
}

.normal_button {
  width: 150px;
}

.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divTaskBar {
  background-color:#efd8ea;
  border: 1px solid #622569;
  color: black;
  cursor: default;
  padding-left: 10px;
}

#divButtonBar {
  margin: 0 auto;
  width: 50%;
  margin-top: 30px;

  /* border-style: dashed; */
}

#divTaskBar {
  width: 50%;
  margin: 0 auto;
  padding: 10px 10px;
}

#col-1 {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px
}

#col-2 {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px
}

#col-3 {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px
}

#col-4 {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px
}

#container {
  display: flex;
}

#processes {
  margin-top: 40px;
}

#memory {
  margin-top: 20px;
}

#header {
  font-size: 75px;
  text-align: center;
  color: white;
}

.material-icons {
  margin-right: 5px;
}

.label {
  font-size: 20px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px;
  width: 500px;
}

